.footer__container {
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
}

.nav-link-gold a{
	color: #FBD784;
}

.footer-descr {
	width: 303px;
}

.copyright_text {
	color: #ffffff3d;
	padding-top: 72px;
	font-size: 18px;
	font-weight: 500;
	line-height: 32px;
}

@media (max-width: 425px) {
	.footer__container {
		flex-direction: column;
	}
	.footer-navbar {
		display: none;
	}
	.footer-descr{
		margin: 5px;
		font-size: 15px;
		line-height: 20px;
	}
	.copyright_text {
		padding-top: 10px;
		font-size: 9px;
		line-height: 20px;
		margin: 5px;
	}
}