a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #fff;
}

[class*="__container"] {
	font-family: 'Gilroy';
	max-width: 1760px;
	margin: 0 auto;
}

body {
	color: #fff;
	background-color: #0B1D26;
}

li {
	list-style: none;
	padding: 20px 0;
}