::-webkit-scrollbar {
	width: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #fff;
}

[class*="__container"] {
	font-family: 'Gilroy';
	max-width: 1600px;
	margin: 0 auto;

}

@media (max-width:425px) {
	[class*="__container"] {
		max-width: 420px;
	}

}

body {
	color: #fff;
	background-color: #0B1D26;
}

li {
	list-style: none;
	padding: 20px 0;
}

.background-img {
	position: absolute;
	z-index: -99;
	width: 100%;

}

.wrapper {
	background-color: rgba(0, 0, 0, 0.26);
}

@media (max-width:829px) {
	[class*="__container"] {
		max-width: 800px;
		overflow: hidden;
	}

}