.info-block {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 0;
	transform: translateX(-120%);
	transition: all .6s ease-in-out;
}

.info-block.box-show {
	transform: translateX(0);
}

.text-block {
	display: flex;
	flex-direction: column;
	padding-left: 145px;
}

.block-subtitle {
	font-size: 64px;
	font-weight: 600;
	line-height: 77px;
	height: 154px;
	width: 555px;
}

.descr {
	width: 632px;
	font-size: 18px;
	font-weight: 700;
	line-height: 32px;
	font-weight: 400;
}

.read-more-text a{
	font-size: 18px;
	line-height: 22px;
	color: #FBD784;
	padding-top: 27px;
}

.backgroung-number {
	position: absolute;
	z-index: 1;
	font-size: 240px;
	font-weight: 700;
	line-height: 240px;
	opacity: 10%;
	left: 0;
	top: 120px;
}

.right-number {
	left: 800px;
	top: 130px;
}

.text-block-right {
	padding: 0;
}

.photo-block img {
	margin-left: -30px;
}

.photo-block-img {
	border-radius: 5px;
}

@media (max-width: 425px) {
	.info-block {
		transform: translateX(0);
		padding: 0;
		display: block;
	}
	.text-block{
		padding: 0;
		width: 350px;
	}
	.descr {
		width: 350px;
	}
	.block-subtitle {
		width: 350px;
		font-size: 24px;
		line-height: 50px;
		height: 50px;
	}
	.photo-block img {
		margin: 0px 0px 0px 0px;
	}
	
	.photo-block-img {
		width: 350px;
		padding-bottom: 20px;
		margin: 0px 0px 0px 0px;
	}
	.second-block {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	.photo-block-right{
		padding: 0;
	}

	.text-gold {
		font-size: 10px;
	}

	.right-number{
		left: 0;
	}
}

@media (max-width: 829px) {
	.text-block {
		padding-left: 0;
	}
	.info-block {
		flex-direction: column;
		padding: 30px 0;
		margin: 0px 0px 0px 0px;
	}
	.descr {
		width: 400px;
	}
	.photo-block-img {
		width: 350px;
		padding-bottom: 0;
		margin: 0px 0px 0px 0px;
	}
	.block-subtitle {
		width: 500px;
	}
	.second-block {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin: 0px 0px 0px 0px;
		
	}
	.photo-block-right{
		padding: 0;
	}
	.right-number {
		left: 390px;
	}
	.backgroung-number {
		left: 30px;
		top: 50px;
	}
}

@media (max-width: 1793px) {

}