.content__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 700px;
}

.content-social {
	width: auto;
}

.content-social {
	transform: rotate(90deg);
	padding-top: 180px;
}

.content-social i{
	transform: rotate(-90deg);
}
.subtitle-main {
	font-family: 'Chronicle Display';
	font-size: 88px;
	font-weight: 600;
	line-height: 100px;
	width: 950px;
}

.text-gold {
	/* position: relative; */
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 800;
	line-height: 22px;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #FBD784;
}
.text-gold::before {
	/* position: absolute; */
	display: block;
	content: '';
	width: 72px;
	height: 2px;
	background: #FBD784;
	margin-right: 32px;
}

.subtitle-scroll {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}

.slider-list.fixed {
	position: fixed;
	right: 20px;
	z-index: 5;
}

.slider-list li{
	padding: 0;
}

.slider-item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.slider-item a {
	padding-right: 32px;
}

.slider-item::after {
	display: block;
	content: '';
	height: 60px;
	width: 3px;
	background: rgba(255, 255, 255, 0.342);
}

.slider-item.active::after {
	display: block;
	content: '';
	height: 60px;
	width: 3px;
	background: #fff;
	transition: all .4s ease;
}

.content-slider {
	display: flex;
}
